@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
#rings,
#earrings,
#pendents,
#bracelets {
  scroll-margin-top: 100px;
}

h1,
h2,
h3,
p {
  font-family: "Montserrat", "Poppins", "Avenir Next", "Proxima Nova",
    "Helvetica Neue", sans-serif;
}
